*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

ol, ul{
    list-style: none;
}

body{
    position: relative;
}

aside{
    transform: rotateZ(-90deg);
    transform-origin: left;
    position: absolute;
    top: 400px;
    left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

aside p{
    font-size: 20px;
    color: #404062;
}

/***** NAV START *****/

nav .container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

nav .container ul{
    column-gap: 20px;
    display: flex;
    justify-content: space-between;
}

nav .container img{
    width: 150px;
}

nav .container ul li .menu{
    color: #404062;
    font-size: 17px;
    position: relative;
}

nav .container ul li .menu::after{
    content: "";
    background-color: rgba(85, 85, 85, 0.356);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    right: -8px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

nav .container ul li:hover .menu::after{
    opacity: 1;
    visibility: visible;
    transition: all 0.5s;
}

nav .container ul li .button{
    background-color: white;
    padding: 5px 10px;
    border: 2px solid #404062;
    border-radius: 16px;
    color: #404062;
    transition: all  0.5s;
}

nav .container ul li .button:hover{
    background-color: #404062;
    color: white;
    transition: all  0.5s;
}

nav .container ul li:nth-of-type(7){
    display: flex;
    align-items: center;
}

nav .container ul li:nth-of-type(7)>div{
    width: 6px;
    height: 6px;
    background-color: #404062;
    border-radius: 50%;
}

/***** NAV END *****/

/***** SEQTION START *****/

section .container{
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: 4fr 3fr 3fr;
    grid-gap: 20px;
}

section .container>div{
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: all 0.5s;
}

section .container>div:hover{
    transform: translateY(-5px);
    transition: all 0.5s;
    box-shadow: rgba(0, 0, 0, 0.459) 10px 10px 20px;
}

section .container div>a{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

section .container>div:nth-child(2)>a{
    background-color: rgba(0, 0, 255, 0.75);
    border-radius: 20px;
}

section .container>div:nth-child(4)>a{
    background-color: rgba(70, 6, 70, 0.75);
    border-radius: 20px;
}

section .container>div:nth-child(5)>a{
    background-color: rgba(238, 130, 238, 0.75);
    border-radius: 20px;
}

section .container div a .button span{
    background-color: white;
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 10px;
    color: black;
}

section .container div a .text span{
    color:white;
    font-size: 15px;
}

section .container div a .text p{
    font-size: 1.6em;
    color: white;
    font-weight: bold;
}

section .container div:nth-child(1) a .text p{
    font-size: 2.5em;
    color: white;
    font-weight: bold;
}

section .container>div:nth-child(1){
    background-image: url(../image/photo-1562664377-709f2c337eb2.jfif);
    grid-area: 1/1/3/2; 
}

section .container>div:nth-child(2) {
    grid-area: 1/2/2/3;
    background-image: url(../image/download-1.jpg);
}

section .container div:nth-child(3){
    grid-area: 1/3/2/4;
    background-color: #ffb469;
}

section .container div:nth-child(4) {
    grid-area: 2/2/3/3;
    background-image: url(../image/photo-1496917756835-20cb06e75b4e.jfif);  
}

section .container div:nth-child(5){
    grid-area: 2/3/3/4;
    background-image: url(../image/photo-1562185022-c0a7889d7fbb.jfif);  
}

/***** SEQTION END *****/

/***** MAIN START *****/

main .container .first{
    border-radius: 20px;
    margin: 50px 0;
    overflow: hidden;
    height: 600px;
    position: relative;
}

main .container .first .second{
    transition: all 0.5s;
    height: 600px;
}

main .container .first:hover>.second{
    transform: scale(1.02);
    transition: all 0.5s;
}

main .container .first .background{
    height: 600px;
    padding: 100px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
}

main .container>div:nth-child(1)>.second{
    background-image: url(../image/photo-1558697698-9300a84a6a99.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}

main .container>div:nth-child(1)> .background{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

main .container>div:nth-child(2)>.second{
    background-image: url(../image/photo-1543248939-ff40856f65d4.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}

main .container>div:nth-child(2)> .background{
    background-color: #f8d480b7;
    border-radius: 20px;
}

main .container>div:nth-child(3)>.second{
    background-image: url(../image/photo-1524758631624-e2822e304c36.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}

main .container>div:nth-child(3)> .background{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

main .container>div .top .child{
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 20px;
    color: #ffffff;
    border: #ffffff 2px solid;
    transition: all 0.5s;
    background: transparent;
}

main .container>div .top .child:hover{
    color: #404062;
    background: #ffffff;
    transition: all 0.5s;
}

main .container>div h1{
    font-size: 4em;
    color: white;
    position: relative;
} 

main .container>div h1>i{
    bottom: 0;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

main .container>div h1:hover>i{
    transform: translateX(30px);
    opacity: 1;
    visibility: visible;
    transition: all 0.5s;
}

main .container>div span{
    font-size: 18px;
    color: white;
}

main .container>div:nth-child(2) .top .child{
    border: #404062 2px solid ;
    color: #404062;
    background-color: transparent;
}

main .container>div:nth-child(2) .top .child:hover{
    background: #404062;
    color: #f8d480b7;
}

main .container>div:nth-child(2) h1{
    color: #404062;
}

main .container>div:nth-child(2) p{
    color: #404062;
    font-size: 22px;
    position: relative;
}

main .container>div:nth-child(2) p::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 3px;
    background-color: #404062;
    left: 0;
    top: -25px;
}

main .container>div:nth-child(2) span{
    color: #404062;
}

/***** MAIN END *****/


/***** .MAIN2 START *****/

.main2 .container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: (400px, 200px, 100px);
    grid-gap: 30px;
}

.main2 .container>div:nth-child(1){
    grid-area: 1/1/2/4;
}

.main2 .container>div:nth-child(2){
    grid-area: 1/4/2/7;
}

.main2 .container .first3{
    grid-area: 2/1/3/3;
}

.main2 .container .first4{
    grid-area: 2/3/3/5;
}

.main2 .container .first5{
    grid-area: 2/5/3/7;
}

.main2 .container>a{
    grid-area: 3/2/4/6;
}

.main2 .container .first{
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.main2 .container .first .second{
    transition: all 0.5s;
}

.main2 .container .first:hover>.second{
    transform: scale(1.02);
    transition: all 0.5s;
}

.main2 .container>.first>.background{
    padding: 50px 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.main2 .container>div:nth-child(1) .second{
    background-image: url(../image/photo-1487015307662-6ce6210680f1.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.main2 .container>div:nth-child(1) .background{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.main2 .container>div:nth-child(2) .second{
    background-image: url(../image/photo-1544457070-4cd773b4d71e.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.main2 .container>div:nth-child(2) .background{
    background-color: #ca90119f;
    border-radius: 20px;
}

.main2 .container .first3 .second{
    background-image: url(../image/photo-1528441397448-a44d50563cf8.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
}

.main2 .container .first3 .background{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.main2 .container .first4 .second{
    background-image: url(../image/photo-1562185022-c0a7889d7fbb.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
}

.main2 .container .first4 .background{
    background-color: rgba(221, 204, 49, 0.623);
    border-radius: 20px;
}

.main2 .container .first5 .second{
    background-image: url(../image/photo-1551216223-37c8d1dbec5c.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
}

.main2 .container .first5 .background{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.main2 .container .first1 .top .child{
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 20px;
    color: #404062;
    border: #404062 2px solid;
    transition: all 0.4s;
}

.main2 .container>div:nth-child(1) .top .child:hover{
    background-color: #404062;
    color: #ffffff;
    transition: all 0.4s;
}

.main2 .container>div:nth-child(2) .top .child:hover{
    background-color: #404062;
    color: #ffffff;
    transition: all 0.4s;
}

.main2 .container .first1 h1{
    font-size: 3em;
    color: #404062;
    position: relative;
} 

.main2 .container>div h1>i{
    bottom: 0;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.main2 .container>div h1:hover>i{
    transform: translateX(30px);
    opacity: 1;
    visibility: visible;
    transition: all 0.5s;
}

.main2 .container .first1 p{
    color: #404062;
    font-size: 15px;
    position: relative;
}

.main2 .container .first1 p::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 3px;
    background-color: #404062;
    left: 0;
    top: -25px;
}

.main2 .container .first1 span{
    font-size: 18px;
    color: #404062;
}

.main2 .container .first3 .top .child{
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 10px;
    color: #ffffff;
    border: #ffffff 2px solid;
    transition: all 0.4s;
}

.main2 .container .first3 h1{
    font-size: 2em;
    color: #ffffff;
    position: relative;
} 

.main2 .container .first3 p{
    color: #ffffff;
    font-size: 15px;
    position: relative;
}

.main2 .container .first3 p::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 3px;
    background-color: #ffffff;
    left: 0;
    top: -25px;
}

.main2 .container .first3 span{
    font-size: 18px;
    color: #ffffff;
}

.main2 .container .first3 .top .child:hover{
    background-color: #ffffff;
    color: #404062;
    transition: all 0.4s;
}

.main2 .container .first4 .top .child{
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 10px;
    color: #404062;
    border: #404062 2px solid;
    transition: all 0.4s;
}

.main2 .container .first4 h1{
    font-size: 2em;
    color: #404062;
    position: relative;
} 

.main2 .container .first4 p{
    color: #404062;
    font-size: 15px;
    position: relative;
}

.main2 .container .first4 p::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 3px;
    background-color: #404062;
    left: 0;
    top: -25px;
}

.main2 .container .first4 span{
    font-size: 18px;
    color: #404062;
}

.main2 .container .first4 .top .child:hover{
    background-color: #404062;
    color: #ffffff;
    transition: all 0.4s;
}

.main2 .container>a{
    padding: 20px 0;
    text-align: center;
    background-color: #404062;
    color: #ffffff;
    font-size: 1.5em;
    border-radius: 20px;
    margin: 20px;
    transition: all 0.5s;
    border: #404062 4px solid;
}

.main2 .container>a:hover{
    background-color: #ffffff;
    color: #404062;
    border: #404062 4px solid;
    transition: all 0.5s;
}

/***** .MAIN2 END *****/

/***** FOTTER END *****/

footer .container{ 
    position: relative;
    display: flex;
    height: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}

footer .container .h1{
    width: 50%;
}
footer .container .h1 h1{
    font-size: 3em;
    text-align: center;
    color: #404062;
}

footer .container .hidden{
    overflow: hidden;
    animation-name: animation3;
    animation-duration: 15s;
    animation-timing-function: ease 0.02s;
    animation-iteration-count: infinite;
}

footer .container .span span{
    font-size: 22px;
    color: #404062;
    font-weight: bold;
}
footer .container .span{
    animation-name: animation2;
    animation-duration: 15s;
    animation-timing-function: ease 0.02s;
    animation-iteration-count: infinite;
}

footer .container::after{
    content: "";
    height: 25px;
    width: 3px;
    background-color: black;
    position: absolute;
    top: 240px;
    right: 442px;
    animation-name: animation1;
    animation-duration: 15s;
    animation-timing-function: ease 0.02s;
    animation-iteration-count: infinite;
}

@keyframes animation1{
    0%{
        background-color: transparent;
    }
    1%{
        background-color: black;
    }
    2%{
        background-color: transparent;  
    }
    3%{
        background-color: black;  
    }
    4%{
        background-color: transparent;  
    }
    5%{
        background-color: black;  
    }
    6%{
       background-color: transparent;   
    }
    7%{
        background-color: black; 
    }
    8%{
        background-color: transparent;
    }
    9%{
        background-color: black;
    }
    10%{
        background-color: transparent;  
    }
    11%{
        background-color: black;
    }
    12%{
        background-color: transparent; 
    }
    13%{
       background-color: black;
    }
    14%{
        background-color: transparent; 
    }
    15%{
        background-color: black;
    }
    16%{
        background-color: transparent; 
    }
    17%{
        background-color: black;
    }
    18%{
        background-color: transparent;
    }
    19%{
        background-color: black;  
    }
    20%{
        background-color: transparent;
    }
    21%{
        background-color: black;  
    }
    22%{
        background-color: transparent;
    }
    23%{
        background-color: black;  
    }
    24%{
        background-color: transparent;
    }
    25%{
        background-color: black;  
    }
    26%{
        background-color: transparent;
    }
    27%{
        background-color: black; 
    }
    28%{
        background-color: transparent; 
    }
    29%{
        background-color: black; 
    }
    30%{
        background-color: transparent; 
    }
    31%{
        background-color: black; 
    }
    32%{
        background-color: transparent; 
    }
    33%{
        background-color: black; 
    }
    34%{
        background-color: transparent; 
    }
    35%{
        background-color: black; 
    }
    36%{
        background-color: transparent; 
    }
    37%{
        background-color: black; 
    }
    38%{
        background-color: transparent; 
    }
    39%{
        background-color: black;
    } 
    40%{
        background-color: transparent; 
    }
    41%{
        background-color: black; 
    }
    42%{
        background-color: transparent; 
    }
    43%{
        background-color: black; 
    }
    44%{
        background-color: transparent; 
    }
    45%{
        background-color: black;
    }
    46%{
        background-color: transparent;
    }
    47%{
        background-color: black;
    }
    48%{
        background-color: transparent;
    }
    49%{
        background-color: black;
        }
    50%{
        background-color: transparent;
        transform: translateX(0px); 
    }
    51%{
        background-color: black; 
        transform: translateX(-5.5px); 
    }
    52%{
        background-color: transparent;
        transform: translateX(-11.625px);  
    }
    53%{
        background-color: black;  
        transform: translateX(-14.69px);
    }
    54%{
        background-color: transparent; 
        transform: translateX(-20.19px); 
    }
    55%{
       background-color: black;   
       transform: translateX(-30.575px);
    }
    56%{
        background-color: transparent; 
        transform: translateX(-33.165px);
    }
    57%{
        background-color: black;
        transform: translateX(-39.29px);
    }
    58%{
        background-color: transparent;
        transform: translateX(-42.995px);
    }
    59%{
        background-color: black; 
        transform: translateX(-46.06px); 
    }
    60%{
        background-color: transparent;
        transform: translateX(-54.005px);
    }
    61%{
        background-color: black; 
        transform: translateX(-56.595px);
    }
    62%{
        background-color: transparent;
        transform: translateX(-62.22px);
    }
    63%{
        background-color: black; 
        transform: translateX(-67.845px);
    }
    64%{
        background-color: transparent;
        transform: translateX(-73.975px);
    }
    65%{
        background-color: black; 
        transform: translateX(-76.56px);
    }
    66%{
        background-color: transparent;
        transform: translateX(-81.445px);
    }
    67%{
        background-color: black;
        transform: translateX(-87.57px);
    }
    68%{
        background-color: transparent;  
        transform: translateX(-93.07px);
    }
    69%{
        background-color: black;
        transform: translateX(-98.57px);
    }
    70%{
        background-color: transparent;  
        transform: translateX(-101.16px);
    }
    71%{
        background-color: black;
        transform: translateX(-104.825px);
    }
    72%{
        background-color: transparent;  
        transform: translateX(-109.71px);
    }
    73%{
        background-color: black;
        transform: translateX(-115.335px);
    }
    74%{
        background-color: transparent;  
        transform: translateX(-119px);
    }
    75%{
        background-color: black;
        transform: translateX(-125px);
    }
    76%{
        background-color: transparent; 
        transform: translateX(-125px);
        transition: ease 0.2s;
    }
    77%{
        background-color: black; 
        transform: translateX(-119px);
    }
    78%{
        background-color: transparent; 
        transform: translateX(-115.335px);
    }
    79%{
        background-color: black; 
        transform: translateX(-109.71px);
    }
    80%{
        background-color: transparent; 
        transform: translateX(-104.825px);
    }
    81%{
        background-color: black; 
        transform: translateX(-98.57px);
    }
    82%{
        background-color: transparent;
        transform: translateX(-93.07px);
    }
    83%{
        background-color: black; 
        transform: translateX(-87.57px);
    }
    84%{
        background-color: transparent; 
        transform: translateX(-81.445px);
    }
    85%{
        background-color: black; 
        transform: translateX(-76.56px);
    }
    86%{
        background-color: transparent; 
        transform: translateX(-73.975px);
    }
    87%{
        background-color: black; 
        transform: translateX(-67.875px);
    }
    88%{
        background-color: transparent;
        transform: translateX(-62.22px);
    } 
    89%{
        background-color: black; 
        transform: translateX(-56.595px);
    }
    90%{
        background-color: transparent; 
        transform: translateX(-54.005px);
    }
    91%{
        background-color: black; 
        transform: translateX(-46.06px);
    }
    92%{
        background-color: transparent;
        transform: translateX(-42.995px);
    }
    93%{
        background-color: black; 
        transform: translateX(-39.33px);
    }
    94%{
        background-color: transparent;
        transform: translateX(-33.165px);
    }
    95%{
        background-color: black; 
        transform: translateX(-30.575px);
    }
    96%{
        background-color: transparent;
        transform: translateX(-20.19px);
    }
    97%{
        background-color: black;
        transform: translateX(-14.69);
    }
    98%{
        background-color: transparent;
        transform: translateX(-11.625px);
    }
    99%{
        background-color: black;
        transform: translateX(-5.5px);
    }
    100%{
        background-color: transparent;
        transform: translateX(0px);
    }
}

@keyframes animation2{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(0px); 
    }
    51%{
        transform: translateX(11px); 
    }
    52%{
        transform: translateX(23.25px);  
    }
    53%{
        transform: translateX(29.38px);
    }
    54%{
        transform: translateX(40.38px); 
    }
    55%{
       transform: translateX(61.15px);
    }
    56%{
        transform: translateX(66.33px);
    }
    57%{
        transform: translateX(78.58px);
    }
    58%{
        transform: translateX(92.04px);
    }
    59%{
        transform: translateX(107.93px); 
    }
    60%{
        transform: translateX(113.11px);
    }
    61%{
        transform: translateX(124.36px);
    }
    62%{
        transform: translateX(135.61px);
    }
    63%{
        transform: translateX(147.86px);
    }
    64%{
        transform: translateX(153.66px);
    }
    65%{
        transform: translateX(163.43px);
    }
    66%{
        transform: translateX(175.68px);
    }
    67%{
        transform: translateX(186.68px);
    }
    68%{
        transform: translateX(197.68px);
    }
    69%{
        transform: translateX(202.86px);
    }
    70%{
        transform: translateX(210.19px);
    }
    71%{
        transform: translateX(219.96px);
    }
    72%{
        transform: translateX(231.21px);
    }
    73%{
        transform: translateX(238.54px);
    }
    74%{
        transform: translateX(250.50px);
    }
    75%{
        transform: translateX(250.50px);
    }
    76%{
        transform: translateX(238.54px);
    }
    77%{
        transform: translateX(231.21px);
    }
    78%{
        transform: translateX(219.96px);
    }
    79%{
        transform: translateX(210.19px);
    }
    80%{
        transform: translateX(202.86px);
    }
    81%{
        transform: translateX(197.68px);
    }
    82%{
         transform: translateX(186.68px);
    }
    83%{
        transform: translateX(175.68px);
    }
    84%{
        transform: translateX(163.43px);
    }
    85%{
        transform: translateX(153.66px);
    }
    86%{
        transform: translateX(148.48px);
    }
    87%{
        transform: translateX(136.23px);
    }
    88%{
        transform: translateX(124.98px);
    } 
    89%{
        transform: translateX(113.11px);
    }
    90%{
        transform: translateX(107.93px);
    }
    91%{
        transform: translateX(92.04px);
    }
    92%{
        transform: translateX(85.91px);
    }
    93%{
        transform: translateX(78.58px);
    }
    94%{
        transform: translateX(66.33px);
    }
    95%{
        transform: translateX(61.15px);
    }
    96%{
        transform: translateX(40.38px);
    }
    97%{
        transform: translateX(29.38px);
    }
    98%{
        transform: translateX(23.25px);
    }
    99%{
        transform: translateX(11px);
    }
    100%{
        transform: translateX(0px);
    }
}

@keyframes animation3{
    0%{
        transform: translateX(0px);
    }
    
    49%{
        transform: translateX(0px);
        }
    50%{
        transform: translateX(0px); 
    }
    51%{
        transform: translateX(-5.5px); 
    }
    52%{
        transform: translateX(-11.625px);  
    }
    53%{
        transform: translateX(-14.69px);
    }
    54%{
        transform: translateX(-20.19px); 
    }
    55%{
       transform: translateX(-30.575px);
    }
    56%{
        transform: translateX(-33.165px);
    }
    57%{
        transform: translateX(-39.29px);
    }
    58%{
        transform: translateX(-42.995px);
    }
    59%{
        transform: translateX(-46.06px); 
    }
    60%{
        transform: translateX(-54.005px);
    }
    61%{
        transform: translateX(-56.595px);
    }
    62%{
        transform: translateX(-62.22px);
    }
    63%{
        transform: translateX(-67.845px);
    }
    64%{
        transform: translateX(-73.975px);
    }
    65%{
        transform: translateX(-76.56px);
    }
    66%{
        transform: translateX(-81.445px);
    }
    67%{
        transform: translateX(-87.57px);
    }
    68%{
        transform: translateX(-93.07px);
    }
    69%{
        transform: translateX(-98.57px);
    }
    70%{
        transform: translateX(-101.16px);
    }
    71%{
        transform: translateX(-104.825px);
    }
    72%{
        background-color: transparent;  
        transform: translateX(-109.71px);
    }
    73%{
        transform: translateX(-115.335px);
    }
    74%{
        transform: translateX(-119px);
    }
    75%{
        transform: translateX(-125.125px);
    }
    76%{
        transform: translateX(-125.125px);
    }
    77%{
        transform: translateX(-119px);
    }
    78%{
        transform: translateX(-115.335px);
    }
    79%{
        transform: translateX(-109.71px);
    }
    80%{
        transform: translateX(-104.825px);
    }
    81%{
        transform: translateX(-98.57px);
    }
    82%{
        transform: translateX(-93.07px);
    }
    83%{
        transform: translateX(-87.57px);
    }
    84%{
        transform: translateX(-81.445px);
    }
    85%{
        transform: translateX(-76.56px);
    }
    86%{
        transform: translateX(-73.975px);
    }
    87%{
        transform: translateX(-67.875px);
    }
    88%{
        transform: translateX(-62.22px);
    } 
    89%{
        transform: translateX(-56.595px);
    }
    90%{
        transform: translateX(-54.005px);
    }
    91%{
        transform: translateX(-46.06px);
    }
    92%{
        transform: translateX(-42.995px);
    }
    93%{
        transform: translateX(-39.33px);
    }
    94%{
        transform: translateX(-33.165px);
    }
    95%{
        transform: translateX(-30.575px);
    }
    96%{
        transform: translateX(-20.19px);
    }
    97%{
        transform: translateX(-14.69);
    }
    98%{
        transform: translateX(-11.625px);
    }
    99%{
        transform: translateX(-5.5px);
    }
    100%{
        transform: translateX(0px);
    }
}

footer .container .input input{
    font-size: 22px;
    text-align: center;
    display: block;
    transition: width .5s ease .2s;
    color: #404062;
    border-top: none;
    border-right: none;
    border-bottom: 4px solid #404062;
    border-left: none;
    border-radius: 0;
    outline: 0;
    background-color: transparent;
    box-shadow: none;
    transition: all 0.5s;
    padding: 5px;
    width: 600px;

}

footer .container .input input:focus{
    width: 800px;
    transition: all 0.5s;
}

footer .container button{
    background-color: #404062;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #404062;
    transition: all 0.5s;
}

footer .container button:hover{
    background-color: #ffffff;
    color: #404062;
    transition: all 0.5s;
}

.end .container{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    flex-wrap: wrap;
}

.end .container>div ul{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.end .container ul li a{
    color: #404062;
    font-size: 17px;
    position: relative;
}

.end .container .left ul li a::after{
    content: "";
    background-color: rgba(85, 85, 85, 0.356);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    right: -8px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.end .container .left ul li:hover a::after{
    opacity: 1;
    visibility: visible;
    transition: all 0.5s;
}

.end .container .right ul li a{
    font-size: 25px;
}

.end .container .right ul li:hover a{
    color: rosybrown;
}

.end .container .span{
    padding: 20px 0;
    width: 60%;
}

.end .container .span span {
    font-size: 10px;
    color: #555;
}








